#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

 / {
    behaviors {
        mouse_scroll: mouse_scroll {
            compatible = "zmk,behavior-input-two-axis";
            #sensor-binding-cells = <2>;
            x-input-code = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";   /* ← mandatory for ZMK */

        default_layer {
            #display_name = "default"; /* optional but recommended */
            
            bindings = < &kp ESC >;   /* ← at least one key, even a dummy key */
            
            sensor-bindings = <
                &inc_dec_kp C_VOL_UP C_VOL_DN
                &mouse_scroll &msc SCRL_UP &msc SCRL_DOWN
            >;
        };
    };
};
