#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

 / {
    behaviors {
        mouse_scroll: mouse_scroll {
            compatible = "zmk,behavior-input-two-axis";
            #sensor-binding-cells = <2>;
            x-input-code = <0>;               // horizontal scroll disabled
            y-input-code = <INPUT_REL_WHEEL>; // vertical scroll
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            sensor-bindings = <
                &left_encoder &mouse_scroll 0 1
            >;
        };
    };
};
