if SHIELD_DRUIDBOARD_LEFT

config ZMK_KEYBOARD_NAME
    default "DruidBoard"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_DRUIDBOARD_LEFT || SHIELD_DRUIDBOARD_RIGHT

config ZMK_SPLIT
    default y

endif